body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}

.page1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn;
  animation-duration: 3s;
  font-size: 5rem;
  font-family: 'Lato', sans-serif;
  color: white;
}

p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  color: white;
}

button {
  opacity: 0;
  animation: fadeIn;
  animation-duration: 3s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  border-radius: 15px;
  margin-top: 90px;
  background-color: black;
  color: white;
  border: 1px, white;
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 55px;
  opacity: 0;
  animation: fadeIn;
  animation-duration: 3s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

.nic {
  height: 20vw;
  width: 30vw;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* @keyframes fadeIn{
  0%{}
    20%{

    }
    etc.
} */
